{% extends "dashboard/base.html" %}

{% block content %}
<ul class="list-group">
    {% for plant in plants %}
    <div class="py-2">
        <li class="card">
            <div class="card-header">
                <a class="text-capitalize">{{ plant.title }} {% if todo.is_completed %}(completed){% endif %}</a >
            </div>
            <div class="card-body col-sm">
                <img class="img-fluid mb-2 d-block mx-auto" src="https://image.shutterstock.com/image-vector/no-image-available-icon-template-260nw-1036735678.jpg" alt="">
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </div>
        </li>
    </div>
    {% endfor %}
</ul>
{% endblock %}