{% extends "dashboard/base.html" %}

{% block content %}
<ul class="list-group">
    {% for plant in plants %}
    <div class="py-2">
        <li class="card">
            <div class="card-header d-flex justify-content-between">
                <a class="text-capitalize mr-auto p-2">{{ plant.title }} {% if plant.is_completed %}<i class="fas fa-certificate text-secondary"></i>{% endif %}</a>
                <a class="font-weight-light p-2 text-secondary"><i class="fas fa-fingerprint pr-2"></i>{{ plant.id }}</a>
                <a class="font-weight-light p-2 text-secondary"><i class="fas fa-flag-checkered pr-2"></i>{{ plant.created | date:"F d Y" }}</a>
            </div>
            <div class="card-body col-sm">
                <img class="img-fluid mb-2 d-block mx-auto" src="https://image.shutterstock.com/image-vector/no-image-available-icon-template-260nw-1036735678.jpg" alt="">
                <div class="progress mb-2">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                </div>
            </div>
        </li>
    </div>
    {% endfor %}
</ul>
{% endblock %}